# project & dependencies
**/node_modules/
**/dist/
**/dist-ssr/
tmp/
out-tsc/
coverage/
*.local

# package managers
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
bun-error.log*

# environment & security
.env*
!apps/web/.env
*.sqlite
*.sqlite-journal
apps/server/data/
apps/server/public/

# IDEs and editors
.idea/
.vscode/*
.history/
*.sublime-workspace
.project
.classpath
.settings/
*.launch
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# system
.DS_Store
Thumbs.db
libpeerconnection.log
testem.log

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# git & docker
.git/
.gitignore
.dockerignore
docker-compose*.yml
Dockerfile
**/Dockerfile