{% extends 'layouts/main_layout.html.twig' %}

{% block title %}SelectionQX • Candidatures{% endblock %}

{% block content %}
    <p class="font-bold">Successfully on page '/applications'</p>
{% endblock %}
