{% extends 'layouts/main_layout.html.twig' %}

{% block title %}SelectionQX • Formations{% endblock %}

{% block content %}
    <p class="font-bold">Successfully on page '/courses'</p>
{% endblock %}
