<div class="w-full rounded-lg bg-white p-3 shadow lg:p-6">
    <div class="flex items-center justify-between mb-1">
        <h2 class="text-2xl font-semibold text-gray-900">{{ title }}</h2>

        {% block button %}{% endblock %}
    </div>

    <p class="mb-6 text-sm text-gray-500">{{ description }}</p>

    {% block content %}{% endblock %}
</div>
